%section#git.slide
  %h2 Was ist Git?
  %img{:src => "images/logo.png", :alt => "git Logo"}
  %ul
    %li#git-1.slide
      Versionsverwaltung f&uuml;r Dateien
    %li#git-2.slide
      Open Source
    %li#git-3.slide
      Entwickelt f&uuml;r Linux Kernel
  %img{:src => "images/logo.png", :alt => "git Logo"}
