%section#github-features.slide
  %h2 github features
  %ul
    %li.slide
      Repositories forken
    %li.slide
      Bugs/Features tracken
    %li.slide
      Pull Requests 
    %li.slide
      Projekt Wiki
    %li.slide
      Projekt Website
    %li.slide
      Gists erstellen
