%section#github.slide
  %h2 Was ist github?
  %ul
    %li#github-1.slide
      Social Coding Plattform
    %li#github-2.slide
      Gratis f&uuml;r Open Source Projekte
    %li#github-3.slide
      Bekannte Projekte
      %ul
        %li.slide
          PHP, Perl, Ruby, Scala
        %li.slide
          Ruby on Rails, Django, jQuery
  %img{:src => "images/github-logo.png", :alt => "github Logo"}
