%section#installation.slide
  %h2 Installation von Git
  %ul
    %li#installation-linux.slide
      %h3 Linux
      %pre
        %code sudo apt-get install git-core git-gui git-doc
    %li#installation-mac.slide
      %h3 Mac
      Download und Installation siehe
      %a{:href => "http://help.github.com/mac-set-up-git/", :target => "_blank"} Anleitung
    %li#installation-windows.slide
      %h3 Windows
      Download und Installation siehe
      %a{:href => "http://help.github.com/win-set-up-git/", :target => "_blank"} Anleitung
