%section#repository-create.slide
  %h2 Repository
  %h3 Erstellen eines Repositorys
  %ul
    %li#repository-create-github.slide
      GitHub - new Repository
    %li#repository-create-description.slide
      Name (Bsp: Hello-World) angeben, wenn gew&uuml;nscht auch noch Beschreibung und Homepage
    %li#repository-create-localdir.slide
      Erstellen eines Verzeichnisses mit dem Namen des Repos und in dieses wechseln
      %pre
        %code
          :preserve
            mkdir ~/Hello-World
            cd ~/Hello-World
    %li#repository-create-initialisieren.slide
      Git initialisieren
      %pre
        %code git init
    %li#repository-create-addorigin.slide
      Herkunft f&uuml;r das Repository hinzuf&uuml;gen (username ist Ihr Benutzernamen)
      %pre
        %code git remote add origin git@github.com:username/Hello-World.git
