%section#ssh-include.slide
  %h2 Erstellen und einbinden eines SSH-Keys
  %h3 Einbinden eines Keys
  %ol
    %li#ssh-include-github.slide
      Bei GitHub zu "Einstellungen" - "SSH Keys"
    %li#ssh-include-openkey.slide
      Im .ssh Verzeichnis den Key &ouml;ffnen
      %br
      %strong
        WICHTIG:
      den .pub Schl&uuml;ssel &ouml;ffnen
    %li#ssh-include-copykey.slide
      Den ganzen Inhalt des Schl&uuml;ssels kopieren und auf GitHub einf&uuml;gen
  %img{:src => "images/add_ssh_key.png", :alt => "Add SSH Key"}
