%section#tableofcontent.slide
  %h2 Inhaltsverzeichnis
  %ul
    %li#tableofcontent-git.slide
      %a{:href => "#git"} Was ist Git?
    %li#distributed.slide
      %a{:href => "#distributed"} Verteilte Repositories
    %li#tableofcontent-github.slide
      %a{:href => "#github"} Was ist GitHub?
    %li#tableofcontent-installation.slide
      %a{:href => "#installation"} Installation
    %li#tableofcontent-ssh-create.slide
      %a{:href => "#ssh-create"} Erstellen eines SSH-Keys
    %li#tableofcontent-ssh-include.slide
      %a{:href => "#ssh-include"} Einbinden eines SSH-Keys
    %li#tableofcontent-git-setup.slide
      %a{:href => "#git-setup"} Informationen f&uuml;r Git einstellen
    %li#tableofcontent-repository-create.slide
      %a{:href => "#repository-create"} Erstellen eines Repositorys
    %li#tableofcontent-repository-change.slide
      %a{:href => "#repository-change"} &Auml;ndern eines Repositorys
    %li#tableofcontent-repository-fork.slide
      %a{:href => "#repository-fork"} Ein Repository forken
    %li#tableofcontent-project.slide
      %a{:href => "#project"} Kleines Projekt
    %li#tableofcontent-questions.slide
      %a{:href => "#questions"} Fragen?

